
.sports{
    background-color: white;
}

.quiz-container{
    background-color:aqua;
    display:  inline-block;
    text-align: center;
    padding: 100px;
    margin: 100px;
    border-radius: 25px;
   
}
.choice{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    padding: 5px;
    margin:5px;
    background-color:aqua ;
    color:black ;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}
.choice:hover{ 
    background-color:blueviolet;
}

    


